<script>
    export let scaling;
</script>


<div class="btn-group d-flex" role="group" aria-label="...">
    <label class="btn btn-outline-primary ">
        <input type=radio name="scaling" bind:group={scaling} value={0}>
        Across all building types
    </label>

    <label class="btn btn-outline-danger">
        <input type=radio name="scaling" bind:group={scaling} value={1} >
        Within building types
    </label>
   
    
</div>

<button type="button" class="btn btn-lg btn-warning" id="Scale" disabled >Scale</button>
<button type="button" class="btn btn-lg btn-warning" id="City" disabled >City</button>
<button type="button" class="btn btn-lg btn-warning" id="Type" disabled >Building types</button>

<style>

.btn-group{
border: none;
text-align: justify;
text-decoration: none;
padding-left: 130px;
padding-right: 18px;
padding-top: 1px;
padding-bottom: 1px;
}

.btn-outline-primary{
font-size: 15px;
padding-top: 1px;
padding-bottom: 1px;
    }   

    .btn-outline-danger{
font-size: 15px;
padding-top: 1px;
padding-bottom: 1px;
    }  
    #City{
        font-size: 15px;
padding-top: 1px;
padding-bottom: 1px;
padding-left: 21px;
padding-right: 21px;
position: relative;
left: -92px;
bottom: 62px;
    }  
    #Scale{ 
    font-size: 15px;
padding-top: 1px;
padding-bottom: 1px;
position: relative;
left: -17px;
bottom: 28px;

    }   

  #Type  { 
    font-size: 15px;
padding-top: 1px;
padding-bottom: 1px;
padding-left: 150px;
padding-right: 150px;
position: relative;
left: -354px;
bottom: 290px;
transform: rotate(-90deg);
  }
  
</style>

