<script>
    export let location;
</script>


<div class="btn-group d-flex" role="group" aria-label="...">
        <label class="btn btn-outline-dark w-100 ">
            <input type=radio name="location" bind:group={location} value="Baltimore" >
            Baltimore
        </label>
        <label class="btn btn-outline-dark w-100">
            <input type=radio name="location" bind:group={location} value="Chicago">
            Chicago
        </label>
        <label class="btn btn-outline-dark w-100">
            <input type=radio name="location" bind:group={location} value="Los Angeles">
            Los Angeles
        </label>
      </div>
      

<style>
    .btn-group{

text-align: justify;
text-decoration: none;
padding-left: 130px;
padding-right: 18px;
padding-top: 1px;
padding-bottom: 1px;

}
.btn-outline-dark{
font-size: 15px;
display: inline;
padding-top: 1px;
padding-bottom: 1px; 
}

</style>