<script>
  export let data = [];
  export let scaleRad;
  export let scaleAngle;

$: makepath = (d) => {
      let path = "M";
      d.forEach((value, idx) => {
        path += " " + scaleRad(value)*Math.sin(scaleAngle(idx)) + "," + scaleRad(-value)*Math.cos(scaleAngle(idx));
      });

      return path;
    };
  $: console.log(data)

</script>

<path d={makepath(data)}> </path>

