<script>
    // Imports
    import { area } from "d3-shape";
    import { scaleLinear, scaleTime } from "d3-scale";
    import { extent } from "d3-array";

    // Global variables
    export let dataset = [];
    export let type = null;
    export let boolScaling = 1;

    // Data Selection
    function selectData(type, datafile) {
        return datafile.filter(d => d.buildingtype == type)
    }

    let data = selectData(type, dataset);
    $: data = selectData(type, dataset);



    // within each building type
    const yscaleWithin = scaleLinear()
        .domain(extent(dataset.map(d => d.total_heating_energy)))
        .range([0.25, 16]);

    // between different building types
    const yscaleBetween = scaleLinear()
        .domain(extent(data.map(d => d.total_heating_energy)))
        .range([0.25, 10]);


    const xscale = scaleTime()
        .domain(extent(dataset.map(d => new Date(2014, 11, d.day, d.hour))))
        .range([0, 480]);

    // Line
    const violinChartWithin = area()
            .x(d=>xscale(new Date(2014, 11, d.day, d.hour)))
            .y0(d=>-yscaleWithin(d.total_heating_energy))
            .y1(d=>yscaleWithin(d.total_heating_energy))

    const violinChartBetween = area()
            .x(d=>xscale(new Date(2014, 11, d.day, d.hour)))
            .y0(d=>-yscaleBetween(d.total_heating_energy))
            .y1(d=>yscaleBetween(d.total_heating_energy))
</script>


    <g transform="translate(16,20)" dominant-baseline="central" 
    >
        <text class = "city" >{type} </text>
    </g>

    <g  transform="translate(130,20)">
        {#if boolScaling == 1}
            <path d={violinChartWithin(data)} fill="red" stroke="darkred" stroke-width=1.25px ></path>
        {:else}
            <path d={violinChartBetween(data)} fill="lightblue" stroke="blue" stroke-width=1.25px ></path>
        {/if}
    </g>

    <style>
 .city {
        font-family: Helvetica, sans-serif;
        font-size: 10px ;
        stroke: black;
        fill: grey;
        opacity: .9;
        text-align: center;
        stroke-width: 0.5px;
       
      }

    </style>
   