<script>
  // Imports
  import { area } from "d3-shape";
  import { scaleLinear, scaleTime } from "d3-scale";
  import { extent, max } from "d3-array";

  export let data = [];

  // local variables
  let dates = data.map(d => new Date(2014, 11, d.day, d.hour));
  let gas = data.map(d => d.total_gas);
  let elec = data.map(d => d.total_electrity);

  let leafWidth = 240*(data.length/24/7);
  const leafHeight = 100;

  const xscale = scaleTime()
      .domain(extent(dates))
      .range([0, leafWidth])
  const xscaleElec = scaleLinear()
      .domain([0, max(elec)])
      .range([leafHeight/2,0])

  const xscaleGas = scaleLinear()
      .domain([0, max(gas)])
      .range([leafHeight/2, leafHeight])
      
  const areaElec = area()
      .x(d => xscale(new Date(2014, 11, d.day, d.hour)))
      .y0(xscaleElec(0))
      .y1(d => xscaleElec(d.total_electrity))

  const areaGas = area()
      .x(d => xscale(new Date(2014, 11, d.day, d.hour)))
      .y0(xscaleGas(0))
      .y1(d => xscaleGas(d.total_gas))

</script>

<svg>
      <path class="elec" d={areaElec(data)}/>
      <path class = "gas" d={areaGas(data)}/>
      <line class = "branch" x1=0 y1={leafHeight/2} x2={leafWidth} y2={leafHeight/2}/>
</svg>

<style>
  .elec{
    fill: rgba(0, 102, 255, 0.50);
  opacity: 1;
  stroke-width: 1.5px;
  stroke: rgb(0, 102, 255);
  }

  .gas{
  fill: rgba(255, 102, 0, 0.521);
  opacity: 1;
  stroke-width: 1.5px;
  stroke: rgba(255, 102, 0);
  }

  .branch{
  stroke-width:1.5px;
  stroke:rgb(63, 9, 9);
  }
</style>