<script >
  import { onMount } from 'svelte'
  import { scaleLinear } from "d3-scale";
  import { extent, max } from 'd3-array';
  import Path from './_design_2_circle.svelte';

  let datapoints = [];
  onMount(async() => {
    await fetch("/data/daily_heating_cooling.json")
    .then(res => res.json())
    .then(data => datapoints = data)
  });

// Dimensions for SVG
const width = 600;
const height = 250;

// Datapoints
// 0: {city:Baltimore, month: 1, week, 0, day:1, day_of_year:1, ...} beginning of our dataset 
// 1095: {city:Los Angeles, month: 12, week, 52, day:31, day_of_year:365, ...} end of it

// transformed data heating
// {Baltimore: { [59472, ... ] // actual value of heating 
// 		}
  // ...
  // 	}
  // 	Los Angeles: { [59472, ...] // actual value of heating 
  // }

let transformed_data_heat = {};
let transformed_data_cool = {};

$: {
  datapoints.forEach((d) => {
    if ( !(d.city in transformed_data_heat)){
      transformed_data_heat[d.city] = []
    }
    // if ( !(d.day_of_year in transformed_data_heat[d.city])){
    // 	transformed_data_heat[d.city][d.day_of_year] = {}
    // }
    transformed_data_heat[d.city].push(d.heating)

    if ( !(d.city in transformed_data_cool)){
      transformed_data_cool[d.city] = []
    }
    // if ( !(d.day_of_year in transformed_data_cool[d.city])){
    // 	transformed_data_cool[d.city][d.day_of_year] = {}
    // }
    transformed_data_cool[d.city].push(d.cooling)
  })
}

  // Scales
// Converts the days of the year to a value between 0 and 2pi
$: scaleAngle = scaleLinear()
  .domain(extent(datapoints.map((d) => d.day_of_year)))
  .range([0,2*Math.PI]);

// Converts the values of heating/cooling to a value between 0 and maximum radius
$: scaleRad = scaleLinear()
  .domain([0,max(datapoints.map((d) => d.cooling))])
  .range([0,22.5]);

</script>


<svg width = {width} height = {height+30}>
{#each Object.keys(transformed_data_cool) as cooling, cool_id}
  <g transform = "translate({200*cool_id}, 0)">
    <text class = "city" x = 52 y = 25 >{cooling}</text>
    <g transform = "translate({100}, {height/2})">
      <circle class = "circle" cx=0  cy=0  r = {70}></circle>
      <line x1 = -69 x2 = 69 y1 = 0 y2 = 0> </line> <!-- x-axis -->
      <line x1 = 0 x2 = 0 y1 = 69 y2 = -69></line> <!-- y-axis -->
      <text x = 73 y = 6>Apr</text>
      <text x = -98 y = 6>Oct</text>
      <text x = -15 y = -75 >Jan</text>
      <text x = -15 y = 88 >Jul</text>
    </g>
<!-- COOL -->
    <g class = "cool" transform = "translate({100}, {height/2})">
      <Path data = {transformed_data_cool[cooling]} scaleRad={scaleRad} scaleAngle={scaleAngle}/>
    </g>
  </g>
{/each}
<!-- HEAT -->
{#each Object.keys(transformed_data_heat) as heating, heat_id}
  <g transform = "translate({200*heat_id}, 0)">
    <g class = "heat" transform = "translate({100}, {height/2}) ">
      <Path data = {transformed_data_heat[heating]} scaleRad={scaleRad} scaleAngle={scaleAngle} />
    </g>
  </g>
{/each}

<circle class = "heat" cx = 335 cy = 235 r = 8> </circle>
<circle class = "cool" cx = 265 cy = 235 r = 8> </circle>

<text x = 350 y=240 class = "heat" font-size = 17px > Heating </text>
<text x = 190 y=240 class = "cool" font-size = 17px> Cooling </text>
<text x = 95 y=270 class = "city" font-style=italic> Design 2: Heating and cooling within a year</text>

</svg>



<style>
.heat {
  fill: red;
  opacity: 0.7;
  stroke-width: 0.8px ;
  stroke: darkred;
}

.cool {
  fill: lightblue;
  opacity: 0.7;
  stroke-width: 0.8px;
  stroke: blue;
}
.circle {
  fill: rgb(221, 221, 221);
  stroke: rgb(0, 0, 0);
  stroke-width: 2;
  stroke-opacity: 0.6;
}
.city {
  font-family: Helvetica, sans-serif;
  font-size: 22px ;
  stroke: black;
  fill: grey;
  opacity: .9;
  text-align: center;
 
}
line {
  stroke: rgb(255, 255, 255);
  }
text {
  stroke: black;
}
</style>