<script>
  // Imports
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  

  import City from "./_design_1_city.svelte";
  import Scaling from "./_design_1_scaling.svelte"
  import Line from "./_design_1_scatterplot.svelte";
  
  // Size and margins
  const width = 600;
  const height = 420;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };

  // Data
  let datapoints = null;
  let buildingtypes = null;
  let selection = null;
  let bindLocation = "Baltimore";
  let bindScaling = 0;
  onMount(async () => {
    datapoints = await json("/data/hourly_heating_december.json");
    buildingtypes = [... new Set (datapoints.map(d => d.buildingtype))];
  });

  //Function
  function wrangleData(dataset, loc) {
    if (dataset != null) {
      selection = dataset.filter(d => d.city == loc);
    }
  }

  $: wrangleData(datapoints, bindLocation);

</script>


{#if !datapoints}
  <p>Please wait, data are being loaded ! </p>
{:else}

  
<div class="div">
  <svg  width = {width+30} height = {height+50}>
    <g  transform="translate({margin.left}, {margin.top})">
      {#each buildingtypes as buildingtype, i}
        <g class = "y" transform="translate(-10,{30+(i*26)})">
          <Line  dataset={selection} boolScaling={bindScaling} type={buildingtype} />
                  
        </g>
      {/each}
      <text class = "city" font-style=italic  y=18px x=70px>Energy consumption throughout December 2014</text>
    </g>
  
  </svg>
  <City bind:location={bindLocation}/>
  <div class="div">
  <Scaling bind:scaling={bindScaling}/>
  </div> 
  </div>
  
{/if}



<style>
  .y {
    fill :rgb(0, 0, 0);
    font-family: "helvetica", Times, serif;
  }
  .div {
    margin: 5px 0px 5px ;
  }

  .titre2 {
  font-family: Helvetica, sans-serif;
  stroke: rgb(63, 9, 9);
  fill: rgb(63, 9, 9, 1);
  opacity: .9;
  text-align: center;
 }

  .city {
  font-family: Helvetica, sans-serif;
  font-size: 22px ;
  stroke: black;
  fill: grey;
  opacity: .9;
  text-align: center;
 
}
</style>
