<script>
  // Imports
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import Draw from "./_design_3_draw.svelte";

  // Size and margins
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;

  // Load the data
  let data = null;
  onMount(async () => {
    data = await json("/data/hourly_electricity_vs_gas_december.json");
  });

let rotate = -14

</script>


{#if !data}
  <p>Please wait, data is being loaded</p>
{:else}
  <svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
     
      <g transform="translate({(innerWidth/2)-margin.left},50) rotate({rotate})">
        <Draw data={data.filter(d => d.week == 52)}/>
      </g>
      <g transform="translate({(innerWidth/2)+margin.left},125) scale(-1,1) rotate({rotate})">
        <Draw data={data.filter(d => d.week == 51)}/>
      </g> 
      <g transform="translate({(innerWidth/2)-margin.left},200) rotate({rotate})">
        <Draw data={data.filter(d => d.week == 50)}/>
        </g>
     <g transform="translate({(innerWidth/2)+margin.left},275) scale(-1,1) rotate({rotate})">
        <Draw class = "gauche" data={data.filter(d => d.week == 49)}/>
      </g>
      <g transform="translate({(innerWidth/2)-margin.left},350) rotate({rotate})">
        <Draw data={data.filter(d => d.week == 48)}/>
      </g>
    
    
    <line class = "tronc" x1={width/2 - margin.left} y1=40 x2={width/2 - margin.left} y2=450/>
    <line class = "tronc" x1=0 y1=450 x2=500 y2=450/>

    <text x = 50 y=570 class = "titre1" font-style=italic> Design 3: Gas and electricity use as a tree</text>
    <text x = 95 y=25 class = "city" font-style=italic> Baltimore in December 2014 </text>
    </g>
    
    <text x = 0 y=507 class = "titre2"> 1 leaf represents 1 week of</text>
    <circle class = "gas" cx = 210 cy = 520 r = 8> </circle>
    <circle class = "elec" cx = 210 cy = 485 r = 8> </circle>

    <text x = 230 y=489 class = "elec_legend" font-size = 19px > : Electricity usage </text>
    <text x = 230 y=526 class = "gas_legend" font-size = 19px > : Gas usage </text>

    <line class = "titre2" x1={width/2 - margin.left+12} y1=408 x2={width/2 - margin.left + 35} y2=440/>
    <line class = "titre2" x1=485 y1=350 x2=430 y2=435/>
    <text x = {width/2 - margin.left+38}  y=443 class = "titre2" font-size = 9px > 0am on Monday </text>
    <text x = 420 y=443 class = "titre2" font-size = 9px > Midnight on Sunday  </text>

    <line class = "titre2" x1=15 y1=350 x2=15 y2=400/>
    <line class = "titre2" x1=15 y1=350 x2=10 y2=360/>
    <line class = "titre2" x1=15 y1=350 x2=20 y2=360/>
    <text x = 2 y=410 class = "titre2" font-size = 9px  > Week  </text>
  </svg>
{/if}

<style>
 .city {
  font-family: Helvetica, sans-serif;
  font-size: 25px ;
  stroke: rgb(63, 9, 9);
  fill: rgb(63, 9, 9, 0.5);
  opacity: .9;
  text-align: center;
 }

  .tronc {
    stroke:rgb(63, 9, 9);
    stroke-width: 3px;
  }


  .elec{
    fill: rgba(0, 102, 255, 0.50);
  opacity: 1;
  stroke-width: 1.5px;
  stroke: rgb(0, 102, 255);
  }
  .elec_legend{
    fill: rgba(0, 102, 255, 0.50);
  opacity: 1;
  stroke-width: 0.5px;
  stroke: rgb(0, 102, 255);
  }

  .gas{
  fill: rgba(255, 102, 0, 0.521);
  opacity: 1;
  stroke-width: 1.5px;
  stroke: rgba(255, 102, 0);
  }
  .gas_legend{
  fill: rgba(255, 102, 0, 0.521);
  opacity: 1;
  stroke-width: 0.5px;
  stroke: rgba(255, 102, 0);
  }

  .titre1 {
  font-family: Helvetica, sans-serif;
  font-size: 20px ;
  stroke: rgb(63, 9, 9);
  fill: rgb(63, 9, 9, 0.5);
  opacity: .9;
  text-align: center;
 }

 .titre2 {
  font-family: Helvetica, sans-serif;
  stroke: rgb(63, 9, 9);
  fill: rgb(63, 9, 9, 1);
  opacity: .9;
  text-align: center;
 }
</style>