<style>
    p {color:steelblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3cm;}
</style>

<p>I <span style='color: purple'>really</span> like data visualisation!</p>
