<script>
    const cv = { name: 'Augustin', fav_things: [" reading",  " surfing", " travelling", " discovering new food cultures"]}
</script>

<p>My name is {cv.name} and these are some of my favourite things: {cv.fav_things}.</p>