<script>
const radius = 8
function Circumference(radius) {
  return (2 * Math.PI * radius).toFixed(2);

}
</script>

<p>The circumference of a circle with {radius} m is {Circumference(radius)} m .</p>