<script>
	let count = 0;

	function handleClick(event) {
		count += 1;
	}
    function reset(event) {
        count = 0
    }
</script>


<button type="button" class="btn btn-outline-primary" on:click={handleClick}>
    Count: {count} 
</button>

<button type="button" class="btn btn-outline-danger" on:click={reset} > Reset 
</button>

<style>
    button {
        margin: 0.5%;
        }
</style>

