<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Circle caracteristics
  const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];
  const radius = 13;

  // All lights with a higher index are on!
  let index = points.length;
  const reduction_index = setInterval(() => {
    index=index-1;
  }, 1000);

</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each points as point,idx}
    
    {#if index <= -1} 
    <circle class="go" cx={point} cy = 40% r = {radius}></circle>
    {clearInterval(reduction_index)}
    
    {:else if index <= idx}
    <circle class="on" cx={point} cy = 40% r = {radius}></circle>
    
    {:else}
    <circle class="off" cx={point} cy = 40% r = {radius}></circle>
    {/if}
    {/each}

  </g>
</svg>

<style>
  .go {
    fill:darkgreen;
    fill-opacity:1;
  }
  .on {
    fill:darkred;
    fill-opacity: 1;
  }
  .off {
    fill:darkred;
    fill-opacity:0.3;
  }
</style>
