<script>
  //Import 
  import { scaleLinear, scaleLog, scaleOrdinal } from 'd3-scale';
  import { axisLeft, axisBottom } from 'd3-axis';
  import { extent } from 'd3-array';
  import { select } from 'd3-selection';
  import { schemeDark2 } from 'd3-scale-chromatic';

  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  export let data = null;
  let values = data.filter(entry => entry.income !== null && entry.life_exp !== null);

  const xscale = scaleLog()
    .domain([300, 6000])
    .range([0, innerWidth]);
    const axisB = axisBottom(xscale);

  const yscale = scaleLinear()
    .domain([0, 60])
    .range([innerHeight, 0]);
  const axisL = axisLeft(yscale);

  const radius = scaleLinear()
  .domain(extent(data, entry => entry.population))
  .range([3, 12]);

  const scalo = scaleOrdinal()
    .domain([...new Set(data.map(d => d.continent))])
    .range(schemeDark2);

  //Function 
  function xaxis(x) {axisB(select(x))};
  function yaxis(x) {axisL(select(x))};

</script>

<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left}, {margin.top})">
  <g use:xaxis={"g"} transform="translate({0},{innerHeight})">
    <text font-size="15" x=250 y=40 fill="currentColor" >GDP Per Capita (in $)</text></g>
  <g transform="translate({margin.bottom - 55},{0})" use:yaxis={"svg"}>
    <text font-size="15" x=-40 y=225 fill="currentColor" class="verticaltext" >Life Expectancy (in years)</text></g>

    {#each values as data}
      <circle  
        cx={xscale(+data.income)} 
        cy={yscale(+data.life_exp)} 
        r={radius(+data.population)} 
        fill={scalo(data.continent)} 
      />
    {/each}

    <text class="year" x={innerWidth-100} y=260>In 1800</text>
    <text class="title" x=50% y=0 font-size="20">Gapminder Scatterplot</text>
  </g>
</svg>

<style>
.verticaltext{
  writing-mode: vertical-lr;
  text-orientation: mixed;
 }
</style>

