<script>

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];

  import {scaleLog} from 'd3-scale';
  const xscale = scaleLog()
  .domain([1, 10])
  .range([0, innerWidth]) ;

  import {axisBottom} from 'd3-axis';
  const axis = axisBottom(xscale)
  function xaxis(x) {axis(select(x))}

  import {select} from 'd3-selection';

</script>

<svg viewBox="0 0 {width} {height}"  >

  <g transform="translate({margin.left},{margin.top})">
    
    {#each values as values}
    <circle cx={xscale(values)} cy=50% r=10px style="fill:purple"/>
    {/each}
  
    <g transform ="translate(0,65)" use:xaxis={"g"}></g>

    <text font-size="12" x=50% y=90 fill="purple">X-AXIS</text>

  </g>

</svg>

