<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  import { scaleLinear, scaleOrdinal, scaleBand } from 'd3-scale';
  const xscale = scaleLinear()
  .domain([0, 10])
  .range([0, innerWidth]);
  
  const yscale = scaleLinear()
  .domain([0, 4])
  .range([0,innerHeight]);
   
  import { schemeDark2 } from 'd3-scale-chromatic';
  const scalo = scaleOrdinal()
  .domain([])
  .range(schemeDark2);

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    <line x1={margin.left} x2={innerWidth} y1={innerHeight} y2={innerHeight} stroke="black" />
    {#each values as values}
    <circle cx={xscale(values.x)} cy={yscale(3) - yscale(values.y)} r=5px style={"fill:" + scalo(values.category)}/>
    <text class="valueLabel" x={(xscale(values.x))} y={yscale(3) - yscale(values.y)-10} style={"fill:" + scalo(values.category)}>{values.y} </text>
    <line x1={xscale(values.x)} x2={xscale(values.x)} y1={yscale(3) - yscale(values.y)+5} y2={innerHeight} stroke="black"/>
	{/each}
  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>
