<script>
  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];
  const xscale = scaleBand()
  .domain(["Netflix", "Amazon Prime Video", "Disney+", "Hulu", "Apple TV", "Rakuten"])
  .range([0, innerWidth])
  .align(0.5)
  .paddingInner(1)
  .paddingOuter(0.5);

  const yscale = scaleLinear()
  .domain([0,3])
  .range([innerHeight,20]);
  const axisB = axisBottom(xscale);
  const axisL = axisLeft(yscale);
  function xaxis(x) {axisB(select(x))};
  function yaxis(x) {axisL(select(x))};
  
  //Import 
  import {scaleLinear, scaleBand} from 'd3-scale';
  import {axisLeft, axisBottom} from 'd3-axis';
  import {select} from 'd3-selection';

  
</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left},{innerHeight+10})" use:xaxis={"svg"}>
   </g>
  <g transform="translate({margin.bottom +30},{10})" use:yaxis={"svg"}>
    <!-- svelte-ignore component-name-lowercase -->
    <text font-size="12" x=-40 y=210 fill="currentColor" >Millions of Viewers in 2021</text></g>
  <g transform={`translate(${margin.left},${margin.top})`}>
    {#each data as data}
      <rect
        x="{xscale(data.service)-35}"
        y="{yscale(data.viewers)}"
        width="{70}"
        height="{yscale(0) - yscale(data.viewers)}"
        fill="purple"
      ></rect>
      {/each}
     
  </g>
  
</svg>

<style>
text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}</style>

