
<script>
    import { onMount } from 'svelte';
    import { json } from 'd3-fetch';
    import Scatterplot from './_ex_7_scatterplot.svelte';

    let data = null;
    onMount(async () => {
        data = await json("/data/gapminder.json");

        data = data
            .filter(entry => entry.year == "1800")[0]
            .countries;
    });
</script>

{#if data}
    <Scatterplot data={data} />
{:else}
    <p>Please wait, the data is being loaded</p>
{/if}


